*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root
{
    --first-color: grey;
    --second-color: red;
    --third-color: red;
    --fourth-color: red;
}
::selection
{
    color: black;
    background-color: yellow;
}
body
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
}
/* basic end */


/* header */

.header
{
    height: 70px;
    width: 100%;
    /* border:1px solid  var(--first-color); */
}
.nav
{
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.name::first-letter
{
    color: dodgerblue;
    
    font-size: 30px;
}
.navlink_bar .list
{
    display: flex;
    list-style-type: none;
}
.navlink_bar .list a
{
    text-decoration: none;
    margin-left: 80px;
    color: dodgerblue;
    font-size: 20px;
}
.navlink_bar .list a:hover
{
    color: black;
}
.toogle 
{
    display: none;
}

/* header end */

/* backimg section start */

.main
{
    height: 400px;
    width: 100%;
    /* background-color: red; */
    background-image: url(/image/backimg2.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 800px;
}
.div1
{
    padding-left: 100px;
    padding-top: 130px;
    color: white;
    font-size: 20px;
}
#hire,#contact
{
    margin-top: 30px;
    margin-right: 20px ;
    padding: 10px;
    border: 1px solid white;
    background-color: black;
    color: white;
    border-radius: 5px;
}
/* bckimg section end */

/* about start */

.about
    {
        height: 300px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 80px;
        line-height: 25px;
    }
    
#pro_img
{
    height:300px;
    width: 600px;
    /* padding-left: 10px; */
}
.aboutus
{
    padding: 80px;
    font-size: 20px;
}
.aboutus p
{
    color: gray;
    line-height: 30px;
    padding-top: 10px;
}

/* about end */


/* skill start */
  .mys
  {
    height: 300px;
    width: 100%;
    background-color: red;
  }
.skills
{
    height: 300px;
    width: 100%;
    background-color: ghostwhite;
    line-height: 50px;
    padding-left: 300px;
    padding-top: 50px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}
.flex1
{
    height: 300px;
    width: 50%;
    position: relative;
    right: 50px;
}

.flex
{
    width: 50%;
    position: relative;
    right: 30px;
}
.myskill
{
    height: 15px;
    width: 60%;
    border: 1px solid green;
    background-color: green;
    border-radius: 10px;
}
.myskill1
{
    height: 15px;
    width: 50%;
    border: 1px solid teal;
    background-color: teal;
    border-radius: 10px;
}
.myskill2
{
    height: 15px;
    width: 40%;
    border: 1px solid yellow;
    background-color: yellow;
    border-radius: 10px;
}
.myskill3
{
    height: 15px;
    width: 55%;
    border: 1px solid blue;
    background-color: blue;
    border-radius: 10px;
}
.myskill4
{
    height: 15px;
    width: 60%;
    border: 1px solid grey;
    background-color: grey;
    border-radius: 10px;
}
#center
{
    margin-top: 30px;
}

/* skill end */
/* contact start */

.contact_sec
{
    height: 400px;
    width: 100%;
}
.form
{
    height: 380px;
    width: 300px;
    border: 1px solid gainsboro;
    margin: auto;
    margin-top: 100px;
    margin-right: 560px;
    box-shadow: 0px 0px 30px 5px gainsboro;
    padding: 30px;
    /* padding-left: 40px; */
    line-height: 40px;
    border-radius: 10px;
}

#name,#email
{
    width: 100%;
    border: 0;
    outline: none;
    border-bottom: 1px solid gray;
    padding-left: 20px;
    font-size: 18px;
}
#button
{
    padding: 10px;
    border: 1px solid dodgerblue;
    border-radius: 5px;
    color: white;
    background-color: dodgerblue;
}

/* contact end */
/* footer */

.footer
{
    height: 50px;
    width: 100%;
    background-color: gainsboro;
    color: black;
    padding-top: 12px;
    padding-right: 70px;
}

/* footer end */
#ab
{
   position: relative;
   top: 30px;
   right: 120px;
}
#sk
{   
       position: relative;
       top: 30px;
       right: 100px;
}
#con
{
   position: relative;
   top: 30px;
   right: 140px;
}