@media only screen and (max-width: 678px)
{
  
    .div1
    {
       
        padding-left: 10px;
        padding-top: 100px;
    }
    #center
    {
        height: auto;
        width: 100%;
        margin: 0;
        padding-top: 10px;
    }

    #ab
{
   position: relative;
   top: 30px;
   right: 0px;
}
#sk
{   
       position: relative;
       top: 30px;
       right: 100px;
}
#con
{
   position: relative;
   top: 30px;
   right: 140px;
}

    .about
    {
        height: 750px;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
       /* background-color: red; */
       margin: 0;
       padding: 0;
       
    }
    .profile
    {
        height: 300px;
        width: 100%;
        /* background-color: green; */
    }
    .aboutus
    {
        height: 420px;
        width: 100%;
        background-color: yellow;
        /* padding-bottom: 20px; */
        overflow: hidden;
    }
    #pro_img
    {
        height: 300px;
        width: 100%;
    }
     /* #ab,#sk,#con
     {
        position: relative;
        top: 50px;
        right: 130px;
     } */


    .skills
    {
        height: 430px;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* background-color: red; */
        padding: 0;
    }
    .flex
    {
        width: 100%;
        position: relative;
        left: 0px; 
        right: 0;
        /* background-color: aqua; */
   }
   .flex1
   {
       width: 100%;
       position: relative;
       left: 0px;
       right: 0; 
       /* background-color: blueviolet; */
  }
   .myskill
{
    height: 15px;
    width: 200px;
    border: 1px solid green;
    background-color: green;
    border-radius: 10px;
}
.myskill1
{
    height: 15px;
    width: 180px;
    border: 1px solid teal;
    background-color: teal;
    border-radius: 10px;
}
.myskill2
{
    height: 15px;
    width: 160%;
    border: 1px solid yellow;
    background-color: yellow;
    border-radius: 10px;
}
.myskill3
{
    height: 15px;
    width: 180px;
    border: 1px solid blue;
    background-color: blue;
    border-radius: 10px;
}
.myskill4
{
    height: 15px;
    width: 200px;
    border: 1px solid grey;
    background-color: grey;
    border-radius: 10px;
}
.contact_sec
{
    height: 460px;
    width: 100%;
    /* background-color: red; */
}
.form
{
    width: 100%;
}
.footer
{
    padding: 0;
    padding-top: 15px;
}
}